.user-container {
    background-color: rgb(169, 255, 244);
    padding: 15px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}
#user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}